<web-app>
       <display-name>RegForm_GenericServlet</display-name>
       
       <servlet>
                <display-name>RegFormServlet</display-name>
                <servlet-name>rf</servlet-name>
                <servlet-class>controller.RegFormServlet</servlet-class>
       </servlet>
                 <servlet-mapping>
                                  <servlet-name>rf</servlet-name>
                                  <url-pattern>/reg</url-pattern>
                  </servlet-mapping>
                  <welcome-file-list>
                  <welcome-file>RegistrationForm.html</welcome-file>
                  </welcome-file-list>
</web-app>