<web-app>
<display-name>ValidationFilter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
     </welcome-file-list>
     <servlet>
     <display-name>tst</display-name>
          <servlet-name>StudentRegServlet</servlet-name>
     <servlet-class>controller.StudentRegServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     <servlet-name>StudentRegServlet</servlet-name>
     <url-pattern>/stdreg</url-pattern>
     </servlet-mapping>
     <filter>
     <filter-name>ValidationFilter</filter-name>
     <filter-class>controller.ValidationFilter</filter-class>
     <init-param>
     <param-name>key</param-name>
     <param-value>MyFilter</param-value>     
     </init-param>
     </filter>
</web-app>